@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@
<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="" alt="Dashboard">
                <div class="card-block">
                    <a href="#" class="">
                        <h3 class="card-title">Dashboard</h3>
                    </a>
                    <p class="card-text">An overview on how your business is performing.</p>
                    @*<a href="#" class="btn btn-primary">Dashboard</a>*@
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="" alt="Quote">
                <div class="card-block">
                    <a href="@Url.Action("Create", "Quotes")" class="">
                        <h3 class="card-title">Quote</h3>
                    </a>
                    <p class="card-text">Send a quotation to your customers.</p>
                    @*<a href="@Url.Action("Create", "Quotes")" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="" alt="Invoice">
                <div class="card-block">
                    <a href="@Url.Action("Create", "Invoices")" class="">
                        <h3 class="card-title">Invoice</h3>
                    </a>
                    <p class="card-text">Sell products to your customer.</p>
                    @*<a href="@Url.Action("Create", "Invoices")" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        </div>
    </div>
</div>